@font-face {
    font-family: 'GothamRounded';
    src: url('../fonts/GothamRoundedLight.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'MerriWeather';
    src: url('../fonts/Merriweather-Regular.ttf');
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova-Regular.ttf');
}

@font-face {
    font-family: 'ProximaNova Semibold';
    src: url('../fonts/Proxima-Nova-Alt-Bold.ttf');
}

@font-face {
    font-family: 'ProximaNova Bold';
    src: url('../fonts/Proxima-Nova-Bold.ttf');
}

@font-face {
    font-family: 'ProximaNova Light';
    src: url('../fonts/Proxima-Nova-Thin.ttf');
}