@function ptToPx($pt) {
    $result: $pt * 1.2;

    @return $result;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

$font-logo: 'ProximaNova';
$font-gotham-normal : 'GothamRounded';
$font-proxima-light: 'ProximaNova Light';
$font-btn: 'ProximaNova Semibold';
$font-open-sans: 'OpenSans';

.container {
    width: 1228px;
    margin: 0 auto;
    position: relative;
}